*{
	box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
	line-height: 23px;
	font-size: 18px;
	margin-bottom: 100px;
	background-image: url(../../assets/images/background.png);
}
.mainheader{
	border-bottom: 2px solid #cccccc;
	background-color: #ffffff;
	height: auto;
}
.navbar-header{
	background-color: #4aaaa5;
	min-width: 250px;
	height: auto;
	padding: 20px;
	color: white;
	font-size: 35px;
	text-align: center;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.mainnav a{
	color: #bbb;
}

.wrapper{
	margin: auto;
	width: 100%;
	height: 100%;
}

#connectMe{
	border: 2px solid #bbb;
	width: auto;
	height:auto;
	background-color: #ffffff;
	padding: 30px;
	animation-name: animationColor;
    animation-duration: 4s;
}
#connectMe h2{
	text-align: center;
	color: #4aaaa5;
	font-size: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #dddddd;
}
#connectMe img:hover {background-color: grey;}
#connectMe img{
	width: 70px;
	height: 70px;
	float: left;

}
#aboutMe{
	border: 2px solid #bbb;
	min-width: auto;
	height: auto;
	background-color: #ffffff;
	padding: 30px;
	
}
#aboutMe h2{
	text-align: left;
	color: #4aaaa5;
	font-size: 30px;
	padding-bottom: 20px;
	border-bottom: 2px solid #dddddd;
	width: 630px;
}
#profile img{
	max-width: 80%;
}
#aboutMe p{
	max-width: 90%;
}
#portfolio{
	border: 2px solid #bbb;
	min-width: auto;
	height: auto;
	background-color: #ffffff;
	padding: 30px;
	margin-right: 30px;
}
#portfolio h2{
	text-align: left;
	color: #4aaaa5;
	font-size: 30px;
	padding-bottom: 20px;
	border-bottom: 2px solid #dddddd;
	width: 630px;
}
#p1, #p2, #p3, #p4, #p5{
    position: relative;
    margin: 5px;
 }
#p1 h2, #p2 h2, #p3 h2, #p4 h2, #p5 h2{
    position: absolute;
    bottom: 15px;
    
    background-color: #4aaaa5;
   	max-width: 100%;
	height: 50px;
	padding: 20px;
	color: white;
	font-size: 20px;
	text-align: center;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#p1 h2:hover{background-color: grey;}
#p2 h2:hover{background-color: grey;}
#p3 h2:hover{background-color: grey;}
#p4 h2:hover{background-color: grey;}
#p5 h2:hover{background-color: grey;}

#contactMe{
	border: 2px solid #bbb;
	min-width: auto;
	height: auto;
	background-color: #ffffff;
	padding: 30px;
	margin-right: 30px;
}
#contactMe h2{
	text-align: left;
	color: #4aaaa5;
	font-size: 30px;
	padding-bottom: 20px;
	border-bottom: 2px solid #dddddd;
	width: 630px;
}
.submitbtn {
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.submitbtn:hover{
	background-color: grey;
}
footer{
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 100px;
	background-color: #666666;
	color: #dddddd;
	font-size: 12px;
	padding: 40px;
	text-align: center;
	border-top: 8px solid #4aaaa5;
}

/*--- Animation to change background color of connectMe---*/

@keyframes animationColor {
    from {background-color: #ffffff;}
    to {background-color: #aafd90;}
}
